:root{
    --background-color: #111111;
    --font-color: #0c0;
}
/* Firefox Scroll-bar-width CSS*/
.scroll-width-auto{
    scrollbar-width: auto;
}
.scroll-width-thin{
    scrollbar-width: thin;
}
.scroll-width-none{
    scrollbar-width: none;
}
/* Firebox Scroll-bar-color CSS */
.scroll-color-auto{
    scrollbar-color: auto;
}
.scroll-color-light{
    scrollbar-color: light;
}
.scroll-color-dark{
    scrollbar-color: dark;
}
.scroll-color-colors{
    scrollbar-color: #00cc00 #111111;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: var(--background-color); 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--font-color);
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}
html{
    height: 100vh;
    width: 100vw;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Nunito', serif;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

}
main{
    height: 75%;
    border: 1px solid var(--font-color);
    position: relative;
    overflow: auto;
}
#user-container{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
#scene-description-container{
    display: inline-block;
}
#scene-description{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1em;
    margin: 0;
    width: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
}
#scene-description b{
    color: #FFB000;
}
#status-bar{
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    width: 300px;
    border-left: 1px solid var(--font-color);
}
#data-bar{
    display: grid;
    grid-template: "stats-label stats" 20%
    "character-profile character-profile" auto
    /50% 50%;
    width: 300px;
    height: 350px;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#stats-label-container{
    grid-area: stats-label;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#stats-container{
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#health-label-container, #defense-label-container, #magic-label-container, #money-label-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 0.5px solid;
    flex-grow: 1;
    text-align: center;
}
#health-label, #defense-label, #magic-label, #money-label{
    font-size: 0.9em;
}
#health-container, #defense-container, #magic-container, #money-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 0.5px solid;
    flex-grow: 1;
    text-align: center;
}
#health, #defense, #magic, #money{
    font-size: 0.9em;
}
#character-profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0;
}
#character-profile{
    width: 250px;
    height: 100%;
    margin: 0;
}
#character-profile document html body{
    margin: 0;
}
#minimap-container{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--font-color);
}
#minimap{
    width: 200px;
    height: 200px;
}
#north-door, #south-door, #east-door{
    stroke-width: 1; 
    stroke: #0c0; 
    fill: transparent;
}
#input-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#command-history-container{
    position: relative;
    height: 10%;
    overflow: auto;
    border: 1px solid var(--font-color);
}
#command-history-container span{
    display: block;
}
#text-input{
    border: 1px solid var(--font-color);
    margin: 5px;
    width: 70%;
    color: var(--font-color);
    caret-color: var(--font-color);
    background-color: var(--background-color);
    outline: 0;
    font-size: 1.5rem;
    font-family: "Nunito", serif;
}
#enter-button{
    border: solid var(--font-color);
    background-color: transparent;
    color: var(--font-color);
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Nunito', serif;
}
#enter-button:hover, #enter-button:focus{
    opacity: 1;
}
#inventory-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}
#inventory{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    overflow: auto;
}
#inventory li{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-basis: 10%;
    min-width: 10%;
    max-width: 10%;
    text-align: center;
}
#inventory li span{
    display: inline;
    padding: 1px;
}
/* Classes */
.overflow-auto{
    overflow: auto;
}
.overflow-hidder{
    overflow: hidden;
}
.btm{
    bottom: 0;
}