:root{
    --background-color: #111111;
    --font-color: #0c0;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: var(--background-color); 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--font-color);
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}
html{
    height: 100vh;
    width: 100vw;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'PT Serif', serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

}
main{
    height: 70%;
    border: 1px solid var(--font-color);
    position: relative;
    overflow: auto;
}
#user-container{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
#scene-description{
    padding-left: 5px;
    padding-top: 1em;
    margin: 0;
    width: 80%;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    display: inline-block;
}
#scene-description b{
    color: #FFB000;
}
#status-bar{
    float: right;
    height: 100%;
    width: 200px;
    border-left: 1px solid var(--font-color);
}
#data-bar{
    width: 100%;
    
}
#minimap-container{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--font-color);
}
#minimap{
    width:200px;
    height: 200px;
}
#north-door, #south-door, #east-door{
    stroke-width: 1; 
    stroke: #0c0; 
    fill: transparent;
}
#input-form{
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#command-history-container{
    height: 70%;
    overflow: auto;
    border: 1px solid var(--font-color);
}
#command-history{
    text-align: justify;
    height: 100%;
    width: 100%;
    margin: 0;
}
#text-input{
    border: 1px solid var(--font-color);
    margin: 5px;
    width: 60%;
    color: var(--font-color);
    caret-color: var(--font-color);
    background-color: var(--background-color);
    outline: 0;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
}
#enter-button{
    border: solid var(--font-color);
    background-color: transparent;
    font-family: 'PT Serif', serif;
    color: var(--font-color);
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}
#enter-button:hover, #enter-button:focus{
    opacity: 1;
}
#inventory{
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
#inventory li{
    display: inline;
}
